{% extends "layout.html" %}
{% block content %}
<section class="container">
  <div class="row">
    <div class="exp">
      {% if toot_url %}
      <h3>トゥート成功</h3>
      <iframe src="{{toot_url}}/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://{{session['uri']}}/embed.js" async="async"></script>
      {% else %}
      <h3>トゥート失敗</h3>
      <p class="error">投稿に失敗しました。もう一度お試しください。</p>
      <form class="form" action="/toot?img={{filename}}" method="post">
        <fieldset>
          <textarea name="maintext">TootCloudでワードクラウドを作成しました！ #TootCloud {{site_url}}</textarea>
          <label for="visibility">公開範囲の設定</label>
          <label class="label-inline"><input type="radio" name="visibility" value="public" checked> 公開</label>
          <label class="label-inline"><input type="radio" name="visibility" value="unlisted"> 未収載</label>
          <label class="label-inline"><input type="radio" name="visibility" value="private"> 非公開</label>
          <label for="sensitive">閲覧注意の設定</label>
          <label class="label-inline"><input type="checkbox" name="sensitive" value="cw"> 閲覧注意</label>
          <p><input class="button-primary" type="submit" name="action" value="トゥート！"></p>
        </fieldset>
      </form>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
